* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: black;
}
h1 {
  color: white;
  background-color: black;
}
#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  object-position: -100px -10px;
}
.myText {
  padding-top: 87vh;
  text-align: center;
  color: white;
  z-index: 100;
}
.c2COntein {
  overflow: hidden !important;
}

#canvas2 {
  position: absolute;
  overflow: hidden !important;
}

#canvas5 {
  position: absolute;
}

#canvas3 {
  position: absolute;
}

#generateTree {
  cursor: pointer;
  background: wheat;
  outline: none;
  border: none;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px 30px;
  font-size: 20px;
  width: 300px;
  border-radius: 50px;
}

.boBk {
  position: absolute;
  z-index: 100;
}

/* trial .js */
#canvas4 {
  position: absolute;
  background-color: black;
}

.settings {
  color: white;
}

.changetreecloud {
  position: absolute;
  padding: 10px;
  background-color: white;
  color: black;
}

.particle {
  background: #151e2d !important;
}

.particle canvas {
  position: absolute;
}

.particleContainer {
  max-width: 600px;
  z-index: 200;
  background: #1a2332;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px, rgb(0 0 0 / 14%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 0px 0px 0px;
  box-sizing: border-box;
  padding: 24px 48px;
  margin-bottom: 15px;
  margin: auto;
}
.particleContainer input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  outline: none;
  background: #121a28;
  border-radius: 7px;
  border: 3px solid #1f2e2f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #5f6982;
}
.particleContainer input:focus {
  border: 3px solid rgb(63 94 96);
}

.particleContainer button {
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  color: #111927;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #00efe3;
  border-color: #00efe3;
  cursor: pointer;
}
.windowFixer {
  display: inline-block;
  margin: auto;
  position: absolute;
  text-align: left;
  overflow: hidden;
  z-index: 200;
  height: 320px;
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
}
.particleContainer > form {
  display: flex;
  flex-direction: column;
}
.particleContainer > form > * {
  margin-bottom: 15px;
}
.particleContainer h1 {
  background: none;
  font-size: 2em;
  margin: 0.67em 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* SINE */

#canvas6 {
  z-index: -1;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loginForm {
  visibility: hidden;
  display: none;
  background-color: rgb(15 17 18 / 90%);
  box-shadow: 0px 4px 11px 2px rgb(0 0 0 / 50%);
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 300px;
  z-index: 100;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loginForm > input {
  outline: none;
  background-color: #1e252b;
  border: none;
  color: #6c7379;
  width: 90%;
  padding: 12.8px;
  border-radius: 6px;
  margin-bottom: 20px;
  transition: border-color 0.1s ease-in-out 0s, color 0.4s ease-in-out 0s,
    background-color 0.4s ease-in-out 0s;
}
.loginForm h1 {
  background: none !important;
  margin: 0 0 24px 0;
}

.loginForm > button {
  background-color: #f2615d;
  color: black;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  user-select: none;
  justify-content: center;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.loginForm > button:hover {
  background-color: #ac3d39;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
